<div id="<%= dom_id playlist %>">
  <p>
    <strong>Playlistname:</strong>
    <%= playlist.playlistName %>
  </p>

  <p>
    <strong>Playlistdescription:</strong>
    <%= playlist.playlistDescription %>
  </p>

  <p>
    <strong>Creationdate:</strong>
    <%= playlist.creationDate %>
  </p>

  <p>
    <strong>Ispublic:</strong>
    <%= playlist.isPublic %>
  </p>

</div>
